<% @page_title = "Admin Dashboard" %>
<h1>Hi Mate</h1>
<div class="boxes dashboard admin_dashboard">

	<div class="box sites">
		<h2>Last 5 Users. Total <%= @users.size %> </h2>
		<table>
			<tr>
				<th width="30%">Name Surname</th>
				<th width="20%">Role</th>
				<th width="20%" class="right">Created</th>
				<th width="30%" class="right">Actions</th>
			</tr>
			<% @users.last(5).each do |user| %>
			<tr>
				<td><%= user.name %> <%= user.surname %></td>
				<td><%= user.role.name %></td>
				<td class="right"><%= user.created_at.strftime("%h' %d") %></td>
				<td class="right">
					<%= link_to "Edit", edit_user_registration_path(id: user.id) %>
					<%= link_to "Delete", user_registration_path(id: user.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{user.name}'" } %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>

	<div class="box sites">
		<h2>Last 5 Sites. Total <%= @sites.size %> </h2>
		<table>
			<tr>
				<th width="30%">Name</th>
				<th width="20%">Author</th>
				<th width="20%" class="right">Created</th>
				<th width="30%" class="right">Actions</th>
			</tr>
			<% @sites.last(5).each do |site| %>
			<tr>
				<td><%= site.title %></td>
				<td><%= site.user.name %> <%= site.user.surname %></td>
				<td class="right"><%= site.created_at.strftime("%h' %d") %></td>
				<td class="right">
					<%= link_to "Edit", edit_site_path(id: site.id) %>
					<%= link_to "Delete", site_path(id: site.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{site.title}'" } %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Submit a website", new_site_path, class: "btn red" %>
	</div>

	<div class="box jobs">
		<h2>Last 5 Jobs. Total <%= @jobs.size %></h2>
		<table>
			<tr>
				<th width="30%">Title</th>
				<th width="20%">Author</th>
				<th width="20%" class="right">Created</th>
				<th width="30%" class="right">Actions</th>
			</tr>
			<% @jobs.last(5).each do |job| %>
			<tr>
				<td><%= job.title %></td>
				<td><%= job.user.name %> <%= job.user.surname %></td>
				<td class="right"><%= job.created_at.strftime("%h' %d") %></td>
				<td class="right">
					<%= link_to "Edit", edit_site_path(id: job.id) %>
					<%= link_to "Delete", site_path(id: job.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{job.title}'" } %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Post a job", new_job_path, class: "btn red" %>
	</div>

</div>