<% @page_title = "Ruby, Ruby on Rails, Sinatra Developers" %>
<% @page_description = "Find and hire Ruby, Ruby on Rails, Sinatra professionals from around the globe." %>
<h1>Developers</h1>
<div class="developers">
	<ul class="dev_list">
		<% @developers.each do |dev| %>
			<li id="<%= dev.name.downcase + dev.surname.downcase + dev.id.to_s %>">
				<div class="image">
					<%= image_tag dev.avatar %>
					<div class="names"><!--<%= dev.name %>--></div>
				</div>
				<div class="extra_info">
					<h3><%= dev.name %> <%= dev.surname %></h3>
					<div class="role"><%= dev.roletitle %></div>
					<div class="bio"><p><%= dev.biography %></p></div>
					<div class="social_media">
						<% if dev.facebook.blank? == false %>
							<a href="https://facebook.com/<%= dev.facebook %>" class="linkedin"><i class="fa fa-facebook"></i></a>
						<% end %>
						<% if dev.twitter.blank? == false %>
							<a href="https://twitter.com/<%= dev.twitter %>" class="twitter"><i class="fa fa-twitter"></i></a>
						<% end %>
						<% if dev.github.blank? == false %>
							<a href="https://github.com/<%= dev.github %>" class="github"><i class="fa fa-github"></i></a>
						<% end %>
						<% if dev.linkedin.blank? == false %>
							<a href="<%= dev.linkedin %>" class="linkedin"><i class="fa fa-linkedin"></i></a>
						<% end %>
					</div>
					<% if dev.sites.size > 0 %>
						<div class="sites"><p><%= dev.sites.size %> sites posted</p></div>
					<% end %>
				</div>
			</li>
		<% end %>
	<ul>
</ul>
