<% @page_title = "Jobs Dashboard" %>
<h1>Your Jobs</h1>
<div class="centralized user_jobs">
	<table>
		<% if @jobs_from_user.size > 0 %>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Created</th>
				<th></th>
			</tr>
			<% @jobs_from_user.each do |job| %>
				
				<tr>
					<td><%= link_to job.title, edit_job_path(id: job.id) %></td>
					<td><%= strip_tags(job.description).truncate(130) %></td>
					<% if ((job.created_at + 1.month) - Time.now).to_i == 0 %>
						<td><span>Expired</span></td>
					<% end %>
					<td><%= job.created_at.strftime("%h' %d") %></td>
					<td>
						<%= link_to "Edit", edit_job_path(id: job.id) %>
						<%= link_to "Delete", job_path(id: job.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{job.title}'" } %>
					</td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td>You haven't posted any jobs yet.</td>
			</tr>
		<% end %>
	</table>
	<br>
	<%= link_to "Post a job", new_job_path, class: "btn red" %>
</div>