<% @page_title = "Sites Dashboard" %>
<h1>Your Sites</h1>
<div class="centralized user_jobs">
	<table>
		<% if @sites_from_user.size > 0 %>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Created</th>
				<th></th>
			</tr>
			<% @sites_from_user.each do |site| %>
				<tr>
					<td><%= link_to site.title, edit_site_path(id: site.id) %></td>
					<td><%= strip_tags(site.description).truncate(130) %></td>
					<td><%= site.created_at.strftime("%h' %d") %></td>
					<td>
						<%= link_to "Edit", edit_site_path(id: site.id) %>
						<%= link_to "Delete", site_path(id: site.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{site.title}'" } %>
					</td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td>You haven't posted any sites yet.</td>
			</tr>
		<% end %>
	</table>
	<br>
	<%= link_to "Post a site", new_site_path, class: "btn red" %>
</div>