<% @page_title = "My Dashboard" %>
<h1>My Dashboard</h1>
<div class="boxes dashboard">

	<div class="box profile">
		<div class="info">
			<div class="avatar"><%= image_tag(current_user.avatar) %></div>
			<div class="right">
				<h3 class="name"><%= current_user.name %> <%= current_user.surname %></h3>
				<div class="role"><%= current_user.roletitle %></div>
				<div class="bio"><%= current_user.biography %></div>
				<%= link_to "Edit profile", edit_user_registration_path, class: "btn red" %>
			</div>
		</div>
	</div>

	<div class="box sites">
		<h2>My Sites</h2>
		<table>
			<tr>
				<th width="50%">Name</th>
				<th width="20%" class="right">Created at</th>
				<th width="30%" class="right">Actions</th>
			</tr>
			<% @sites_from_user.each do |site| %>
			<tr>
				<td><%= site.title %></td>
				<td class="right"><%= site.created_at.strftime("%h' %d") %></td>
				<td class="right">
					<%= link_to "Edit", edit_site_path(id: site.id) %>
					<%= link_to "Delete", site_path(id: site.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{site.title}'" } %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Submit a website", new_site_path, class: "btn red" %>
	</div>

	<div class="box jobs">
		<h2>My Jobs</h2>
		<table>
			<tr>
				<th width="50%">Title</th>
				<th width="20%" class="right">Created at</th>
				<th width="30%" class="right">Actions</th>
			</tr>
			<% @jobs_from_user.each do |job| %>
			<tr>
				<td><%= job.title %></td>
				<td class="right"><%= job.created_at.strftime("%h' %d") %></td>
				<td class="right">
					<%= link_to "Edit", edit_site_path(id: job.id) %>
					<%= link_to "Delete", site_path(id: job.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{job.title}'" } %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Post a job", new_job_path, class: "btn red" %>
	</div>

</div>