<div class="centralized sign account_forms">
  <h1>Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn red" %>
      <%= link_to "Forgot your password?", edit_user_password_path, class: "right" %>
    </div>
    <div class="clear"></div>
    <br>
    <%= link_to "Create an account", new_user_registration_path, class: "create_an_account" %>
  <% end %>
</div>