<div class="profile_cont">
	<div class="profile_info">
		<div class="avatar"><%= image_tag current_user.avatar %></div>
		<div class="left">
			<h2><%= current_user.name %> <%= current_user.surname %></h2>
			<div class="role"><%= current_user.roletitle %></div>
			<div class="clear"></div>
			<div class="bio"><%= current_user.biography %></div>
			<%= link_to "Edit Profile", edit_user_registration_path(id: current_user.id), class: "btn white" %>
		</div>
	</div>
	<%= link_to "Logout", destroy_user_session_path, class: "logout", method: :delete %>
</div>
<div class="profile_stats">
	<% if @sites_from_user.size > 0 %>
		<h3>Your website submissions</h3>
		<table>
			<% @sites_from_user.each do |site| %>
				<tr>
					<td><strong><%= site.title %></strong></td>
					<td><%= site.description.truncate(65) %></td>
					<td><%= site.created_at.strftime("%h' %d") %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<% if @jobs_from_user.size > 0 %>
		<br/><br/>
		<h3>Your job submissions</h3>
		<table>
			<% @jobs_from_user.each do |job| %>
				<tr>
					<td width="70%"><strong><%= job.title %></strong></td>
					<td width="10%" style="text-align: center;"><%= job.created_at.strftime("%h' %d") %></td>
					<td width="10%" style="text-align: right;"><%= link_to "Edit", edit_job_path(id: job.id) %></td>
					<td width="10%" style="text-align: right;"><%= link_to "Delete", job_path(id: job.id), method: :delete, data: {confirm: "Are you sure you want to delete '#{job.title}'" } %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>