<% @page_title = "Ruby, Ruby on Rails, Sinatra Jobs" %>
<% @page_description = "The best place to find remote or on-site Ruby, Ruby on Rails, Sinatra other Ruby based frameworks jobs." %>
<h1>Ruby / Rails / Sinatra Jobss</h1>
<%= link_to "Post a Job", new_job_path, class: "btn red post-a-job" %>
<div class="jobs">
	<div class="list">
		<ul>
		<% @jobs.each do |job| %>
			<% if ((job.created_at + 1.month) - @today).to_i != 0 %>
				<li id="<%= (job.title + 'at' + job.company).downcase.delete!(' ') %>">
					<h4 class="company"><%= job.company %></h4>
					<p class="title"><span class="the_title"><%= job.title %></span> <span class="location <%= job.location.name.downcase %>"><%= job.location.name %></span></p>
					<span class="date"><%= job.created_at.strftime("%d' %h") %></span>
					<div class="description hidden"><%= job.description %></div>
					<div class="url hidden"><%= job.url %></div>
				</li>
			<% end %>
		<% end %>
		</ul>
	</div>
	<div class="info">
		<div class="arrow"></div>
		<h5 class="title"><span class="role"><%= @jobs.first.title %></span> at <span class="company"><%= @jobs.first.company %></span></h5>
		<div class="description"><%= (@jobs.first.description).html_safe %> </div>
		<%= link_to "Apply", @jobs.first.url, class: "btn white", target: "blank" %>
	</div>
</div>