<% @page_title = "Create a Job" %>
<h1>Post a job</h1>
<div class="centralized account_forms new_job">
<%= form_for @job do |f| %>
	<div class="field">
		<%= f.label "Position / Role" %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label "URL for applications" %>
		<%= f.text_field :url %>
	</div>
	<div class="field">
		<%= f.label "Company name" %>
		<%= f.text_field :company %>
	</div>
	<div class="field">
		<%= f.label "Location" %>
		<%= f.select(:location_id) do %>
			<% @locations.each do |location| %>
				<%= content_tag(:option, location.name, value: location.id) %>
			<% end %>
		<% end %>
	</div>
	<br>
	<div class="field headquarters_field">
		<%= f.label "Job location" %>
		<%= f.text_field :headquarters, placeholder: "e.g. London" %>
	</div>
	<div class="field">
		<%= f.label "Description /  Requirements" %>
		<div class="wysiwyg">
			<button id="link" onclick="makeLink()" type="button" title="Create Link"><i class="fa fa-link"></i></button>
			<button id="bold" onclick="makeBold()" type="button" title="Make Bold"><i class="fa fa-bold"></i></button>
			<button id="italic" onclick="makeItalic()" type="button" title="Make Italic"><i class="fa fa-italic"></i></button>
			<button id="underline" onclick="makeUnderlined()" type="button" title="Make Underlined"><i class="fa fa-underline"></i></button>
			<button id="unorderlist" onclick="makeUnorderedList()" type="button" title="Make Unordered List"><i class="fa fa-list-ul"></i></button>
			<button id="orderlist" onclick="makeOrderedList()" type="button" title="Make Ordered List"><i class="fa fa-list-ol"></i></button>
		</div>
		<div id="contentEditableArea" contenteditable="true"></div>
		<%= f.text_area :description %>
	</div>
	<%= submit_tag "Post the job", class: "btn red" %>
<% end %>
</div>
