/* Smartphones */
@media all and (min-width: 0px) and (max-width: 767px) { 
	/*****************************************************************************/
	/*
	/* Common
	/*
	/*****************************************************************************/

	.centralized {
		padding: 0 20px;
	}

	/* Header */
	#mainHeader {
		padding-top: 20px;
	}

	#mainHeader #logo img {
		width: 140px;
	}

	#mainHeader #mainNav, #mainHeader #mainNav ul li {
		height: auto;
		line-height: inherit;
		float: inherit;
	}

	#mainHeader #mainNav ul li {
		margin-right: 0px;
	}

	/*****************************************************************************/
	/*
	/* Home Page
	/*
	/*****************************************************************************/

	.tagline {
		padding: 0 20px;
		font-size: 20px;
	}

	#sites {
		margin-top: 10px;
	}

	/* Find a job / Find a Dev */

	#findJobsDevs {
		display: block;
		width: auto;
	}

	#findJobsDevs .rails_jobs, #findJobsDevs .rails_devs {
		display: block;
		width: auto;
		height: 180px; 
		position: relative;
	}

	#findJobsDevs h2 {
		bottom: 0px;
		position: absolute;
		font-size: 18px;
		width: 100%;
		padding: 20px 0;
	}

	/*****************************************************************************/
	/*
	/* Jobs Page
	/*
	/*****************************************************************************/

	.jobs {
		display: block;
		width: auto;
		padding: 20px;
	}

	.jobs .list, .jobs .info {
		display: block;
		width: auto;
	}

	.jobs .list {
		padding-right: 0px;
	}

}