<li class="site" data-id="<%= site.id %>">
	<div class="container">
		<h3><%= link_to site.title, site.url %></h3>
		<p class="description"><%= site.description %></p>
		<span class="category category<%= site.category.id %>"><%= site.category.name %></span>
		<div class="likes">
			<% if user_signed_in? %>
				<% @current_user_like = site.likes.find_by(user_id: current_user.id) %>
			<% end %>
			<% if @current_user_like != nil %><!-- Check if nil otherwise the var throws error on the next condition -->
				<% if current_user.id == @current_user_like.user_id %>
					<button data-site="<%= site.id %>" data-user="<%= current_user.id if user_signed_in? %>" title="Already liked" class="liked" disabled>Liked</button>
				<% else %>
					nope
				<% end %>
			<% else %>
				<% if user_signed_in? %>
					<button data-site="<%= site.id %>" data-user="<%= current_user.id if user_signed_in? %>" title="Like" class="like">Like</button>
				<% else %>
					<%= link_to "Login to like", new_user_session_path, title: "Login to like", class: "login_to_like" %>
				<% end %>
			<% end %>
			<span class="count"><%= site.likes.size %></span>
		</div>
	</div>
	<div class="author">
		<%= image_tag site.user.avatar, class: "avatar" %> <span class="names"><%= link_to "#{site.user.name} #{site.user.surname}", developers_path(anchor: (site.user.name+site.user.surname+site.user.id.to_s).downcase) %></span>
	</div>
</li>