$(document).ajaxSuccess(function(event, request) {
	var msg = request.getResponseHeader('X-Message');
	if (msg != null) {
  		console.log("error");
	} else {
		console.log("success");
		//Pepend the site
		//$("#sites ul").prepend("<li class='site'><h3><a href="+$(".site_new #site_url").text()+">"+$(".site_new h3").text()+"</h3><p class='description'>"+$(".site_new #site_description").text()+"</p></li>")
	}
});