<% @page_title = "Edit site" %>
<h1>Editing "<%= @site.title %>"</h1>
<div class="centralized account_forms new_site">
	<%= form_for @site do |f| %>
		<div class="field">
			<%= f.label :title %>
			<%= f.text_field :title, placeholder: "e.g. builtonruby.com" %>
		</div>
		<div class="field">
			<%= f.label "Framework" %>
			<%= f.select(:category_id) do %>
				<%= @categories.each do |cat| %>
					<% if cat.id == @site.category_id %>
						<%= content_tag(:option, cat.name, value: cat.id, selected: true) %>
					<% else %>
						<%= content_tag(:option, cat.name, value: cat.id) %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="field">
			<%= f.label :url %>
			<%= f.text_field :url %>
		</div>
		<div class="field description_field">
			<span class="counting"><span>95</span> left</span>
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>
		<br />
		<%= submit_tag "Update site", class: "red btn" %>
	<% end %>
</div>
