<% @page_title = "Websites built on Ruby on Rails, Sinatra and other Ruby based frameworks." %>
<% @page_description = "Best place to submit and find websites built on Ruby on Rails, Sinatra and other Ruby based frameworks, as well as find remote or on-site Ruby, Ruby on Rails, Sinatra and other Ruby based frameworks jobs." %>
<h1>Built on Ruby</h1>
<div class="tagline">Discover or post websites done on Ruby on Rails, Sinatra or other ruby based frameworks.</div>
<div class="counting_sites"><%= @all_sites.size %></div>
<section id="sites">
	<ul>
		<% @sites.first(16).each do |site| %>
		<li class="site" data-id="<%= site.id %>">
			<div class="container">
				<h3><%= link_to site.title, site.url %></h3>
				<p class="description"><%= site.description %></p>
				<span class="category category<%= site.category.id %>"><%= site.category.name %></span>
				<div class="likes">
					<% if user_signed_in? %>
						<% @current_user_like = site.likes.find_by(user_id: current_user.id) %>
					<% end %>
					<% if @current_user_like != nil %><!-- Check if nil otherwise the var throws error on the next condition -->
						<% if current_user.id == @current_user_like.user_id %>
							<button data-site="<%= site.id %>" data-user="<%= current_user.id if user_signed_in? %>" title="Already liked" class="liked" disabled>Liked</button>
						<% else %>
							nope
						<% end %>
					<% else %>
						<% if user_signed_in? %>
							<button data-site="<%= site.id %>" data-user="<%= current_user.id if user_signed_in? %>" title="Like" class="like">Like</button>
						<% else %>
							<%= link_to "Login to like", new_user_session_path, title: "Login to like", class: "login_to_like" %>
						<% end %>
					<% end %>
					<span class="count"><%= site.likes.size %></span>
				</div>
			</div>
			<div class="author">
				<% if site.user.blank? == false %>
					<%= image_tag site.user.avatar, class: "avatar" %> <span class="names"><%= link_to "#{site.user.name} #{site.user.surname}", developers_path(anchor: (site.user.name+site.user.surname+site.user.id.to_s).downcase) %></span>
				<% else %>
					<span class="names">Anonymous</span>
				<% end %>
			</div>

		</li>
		<% end %>
	</ul>
	<% if @all_sites.size > 16 %>
	<div class="loading_more_sites">
		<button class="btn red empty load_more">Load more sites</button>
		<%= image_tag("loading.gif", class: "loading") %>
	</div>
	<% end %>
</section>
<section id="post_site">
	<h2>Post a site</h2>
	<div class="site_new">
		<%= form_for Site.new, url: {action: 'create'}, remote: true do |f| %>
			<div class="field">
				<%= f.text_field :title, placeholder: "Site name", autocomplete: "off" %>
			</div>
			<div class="field">
				<%= f.select(:category_id) do %>
					<%= @categories.each do |cat| %>
						<%= content_tag(:option, cat.name, value: cat.id) %>
					<% end %>
				<% end %>
			</div>
			<div class="field">
				<%= f.text_field :url, placeholder: "Site URL", autocomplete: "off" %>
			</div>
			<div class="field">
				<%= f.text_area :description, placeholder: "A short description (96 characters max)", maxlength: 96 %>
			</div>
			<%= submit_tag("Post it!", class: 'btn white') %>
			<% if user_signed_in? == false %>
				<%= link_to "or create a Developer account!", new_user_registration_path, class: "create_account" %>
			<% end %>
		<% end %>
	</div>
</section>
<section id="findJobsDevs">
	<div class="rails_jobs">
		<h2><%= link_to "Find Ruby / Rails / Sinatra Jobs", jobs_path %></h2>
	</div>
	<div class="rails_devs">
		<h2><%= link_to "Find Ruby / Rails / Sinatra Developers", developers_path %></h2>
	</div>
</section>