<h1>Edit my profile</h1>
<div class="centralized account_forms">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="avatar_field">
      <div class="wrap">
        <div class="avatar"><%= image_tag current_user.avatar %></div>
        <div class="field_image">
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :surname %>
        <%= f.text_field :surname %>
      </div>

      <div class="field">
        <%= f.label "Role Title" %>
        <%= f.text_field :roletitle %>
      </div>

      <div class="field">
        <%= f.label "I would like to:" %>
        <%= f.select(:role_id) do %>
          <% if current_user.role_id == 5 %>
            <%= content_tag(:option, "Find a job (Developers)", value: 5, selected: true) %>
          <% else %>
            <%= content_tag(:option, "Find a job (Developers)", value: 5) %>
          <% end %>
          <% if current_user.role_id == 1 %>
            <%= content_tag(:option, "Post a job (Companies, Developers)", value: 1, selected: true) %>
          <% else %>
            <%= content_tag(:option, "Post a job (Companies, Developers)", value: 1) %>
          <% end %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label "Some info about yourself, skills, etc, Max 250 letters" %>
        <%= f.text_area :biography %>
      </div>
    </div>

    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label "Facebook" %>
      <%= f.text_field :facebook %>
    </div>

    <div class="field">
      <%= f.label "Twitter" %>
      <%= f.text_field :twitter %>
    </div>

    <div class="field">
      <%= f.label "GutHub" %>
      <%= f.text_field :github %>
    </div>

    <div class="field">
      <%= f.label "LinkedIn" %>
      <%= f.text_field :linkedin %>
    </div>

    <!--<div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>-->

    <div class="field">
      <%= f.label "Current password to confirm your changes" %>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn red" %>
    </div>
  <% end %>
</div>