<h1>Join us now!</h1>
<p class="form_description centralized">Join us now and show how many websites have been done on Ruby!</p>
<div class="centralized account_forms">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <div class="left">
        <%= f.label "First name" %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="right">
        <%= f.label "Last name" %>
        <%= f.text_field :surname %>
      </div>
    </div>

    <div class="field">
      <%= f.label "I would like to:" %>
      <%= f.select(:role_id) do %>
        <%= content_tag(:option, "Be listed as a Developer", value: 5) %>
        <%= content_tag(:option, "Be listed as a Company", value: 1) %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <%= f.label "Password, #{@minimum_password_length} characters minimum" %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field subscribe">
      <%= f.check_box :subscribe, checked: true %>
      <%= f.label "Subscribe to our list, so you are up to date with new websites and jobs." %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn red" %>
    </div>
  <% end %>

  <!--<div class="info">
    <p>By signing up you can:</p>
    <ul>
      <li>Submit websites</li>
      <li>Find / Post jobs</li>
      <li>Find Developers</li>
    </ul>
  </div>-->
</div>
